$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Bienalle Light';


$corPrimaria: #6AB026;
$corPrimaria2: #00a4b2;
$corPrimaria3: #4e4b98;
$corPrimaria4: #F0F5FF;

$branco: #FFF;
$cinza1: #DADADA;
$cinza2: #7C7786;
$vermelho: #ff0000;


$desktopBreakpoint: 992px;